<!DOCTYPE html>
<html lang="en" ng-app="pointApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Count Point Tuloko</title>

        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container" ng-controller="PointController">
            <hr>
            <div class="text-center">
                <button type="button" class="btn btn-primary">Input Point</button>
                <button type="button" class="btn btn-success">Result Point</button>
            </div>
            <hr>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><input type="number" class="form-control" min="{5"} max="111" step="1" ng-model="maxTurn"></th>
                        <th ng-repeat="user in listUsers">
                            <input type="text" class="form-control" ng-model="user.name">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, turn) in turns | orderBy: '-'| limitTo: 4 ">
                        <td>{{ key + 1 }}</td>
                        <td><input type="number" class="form-control" ng-model="turn.points[0]"></td>
                        <td><input type="number" class="form-control" ng-model="turn.points[1]"></td>
                        <td><input type="number" class="form-control" ng-model="turn.points[2]"></td>
                        <td><input type="number" class="form-control" ng-model="turn.points[3]"></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="addTurn()">Add</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="clearTurn()">Clear</button>
                        </td>
                        <td>Total : </td>
                        <td>{{ turns.length }}</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="getTotal()">Total</button>
                        </td>
                        <td ng-repeat="value in listUsers">{{ value.total }}</td>
                    </tr>
                    <tr ng-repeat="statistic in statistics | orderBy: 'statistic.number' ">
                        <td>{{ statistic.number }}</td>
                        <td>{{ statistic.values[0] }}</td>
                        <td>{{ statistic.values[1] }}</td>
                        <td>{{ statistic.values[2] }}</td>
                        <td>{{ statistic.values[3] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Angular Javascript -->
        <script src="js/angular/angular.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>